<div class="add"><h1 class="button"><a href="/parties/new">Add Party</a></h1></div>

<% @parties.each do |party| %>

<a href="/parties/<%=party.id%>"><h2>Party <%= party.id %> </h2></a>
	<ul>
		<li>Number of Guests: <%= party.num_of_guests %> </li>
  	<li>Table Number: <%= party.table_id %> </li>
  	<li>Paid? <%= party.has_paid%>
  	</ul>
  	<br>
  	<h1 class="button"><a href="/orders/<%= party.id%>/new">Add Orders</a></h1>
 
 <% end %>